@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/vars";

.aside{
    width: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: colors.$lightGrey;
    border-right: 0.3rem solid colors.$purple;
    border-bottom: 0.3rem solid colors.$purple;

    &__nextVideo{
        width: 100%;
    }

    &__nextVideo:hover{
        cursor: pointer;
        box-shadow: -0.5rem 0.5rem 0 0.5rem colors.$purple;
        transform: translate(0.5rem, -0.5rem);
        transition: 0.2s;
    }
}