.comment{
        padding: 2rem;

    &__UL{
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        height: 30rem;
        overflow: scroll;
        padding-left: 2rem;
        gap: 1.5rem;
    }

    &__input{
        max-width: 60%;
        min-height: 4rem;
        padding-left: 1rem;
        border-radius: 2rem;
    }

    &__image{
        max-width: 8rem;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &__button{
        width: 14%;
        min-height: 4rem;
        background-color: orange;
        border: none;
        border-radius: .5rem;
        
    }

    &__div{
        padding: 1rem;
        justify-content: left;
        width: 80rem;
        background-color: yellow;
        min-height: 8rem;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        word-wrap: break-word;
        overflow-y: scroll;
        height: 10rem;
        gap: 2rem;
    }

    &__paragraph{
        word-wrap: break-word;
        width: 60ch;
    }
}