.main{
    width: 60%;
    background-color: green;
    
}

.section{
    display: flex;
    justify-content:center;
    padding: 2rem;
    width: 100%;
    min-height: 80rem;
    background-color: yellow;

    &__article{
        
    }

    &__video{
        width: 100%;
        height: 40rem;
        background-color: aqua;

    }

    &__div{
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        flex-direction: reverse;
    }

    &__articleImage{

    }

    &__image{
        width: 10rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}