@use "./abstracts/colors";
@use "./abstracts/mixins";
@use "./abstracts/vars";

body{
    display: flex;
    flex-wrap: wrap;
    font-family: vars.$font-family;
    background-color: colors.$lightGrey;
}